
/* General Reset */
body {
  font-family: 'GrafienRegular', sans-serif; /* Apply GrafienRegular globally */
  margin: 0;
  padding: 0;
  background-color: #bbe2ff;
  color: #1A1A1A; /* Dark text color */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Logo Styling */
.logo {
  max-width: 400px; /* Limit the logo's width */
  margin: 0 auto; /* Center the logo */
  margin-top: 40px; /* Add space above the logo */
}

.logo img {
  width: 100%; /* Ensure the logo scales within its container */
  height: auto; /* Maintain the aspect ratio */
}

/* Header Typography */
.title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #1A1A1A; /* Dark text color */
}

/* Landing Page Layout */
#landing-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Cover Image Styling */
.cover-img img {
  width: 260px; /* Adjusted width for the cover image */
  height: auto; /* Automatically adjust height to maintain aspect ratio */
  margin: 20px 0;
  border-radius: 10px; /* Optional: Add rounded corners */
}

/* Button */
.category-button {
  padding: 12px;
  border-radius: 30px; /* Rounded corners */
  background: #fff; /* Coral color */
  color: #000;
  font-size: 22px;
  font-family: 'Gfriend', sans-serif; /* Apply Gfriend font to buttons */
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  width: 200px;
  transition: background 0.2s ease-in-out;
}

.category-button:hover {
  background: #FFEB3B; /* Slightly darker coral */
}


.snowflake {
  position: absolute;
  index:-1;
  top: var(--top, 0); /* Start higher on the page */
  left: var(--left, 0); /* Random horizontal starting point */
  font-size: 1.5rem; /* Adjust size if needed */
  animation: fall 20s linear infinite, sway 5s ease-in-out infinite; /* Add falling and swaying animations */
}

@keyframes fall {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh); /* Fall to the bottom of the viewport */
  }
}

@keyframes sway {
  0%, 100% {
    transform: translateX(0); /* No horizontal shift at the start and end */
  }
  50% {
    transform: translateX(20px); /* Sway to the right */
  }
}
